// Primary
$cl-red: hsl(0, 78%, 62%);
$cl-cyan: hsl(180, 62%, 55%);
$cl-orange: hsl(34, 97%, 64%);
$cl-blue: hsl(212, 86%, 64%);

// Neutral
$cl-very-dark-blue: hsl(234, 12%, 34%);
$cl-grayish-blue: hsl(229, 6%, 66%);
$cl-very-light-gray: hsl(0, 0%, 98%);
